# DealFlow360 Client Environment Configuration (Vite)
VITE_FIREBASE_API_KEY="AIzaSyALR1c3gYqQPrYw16dG1l2Y5XNmZq5GLZ0"
VITE_FIREBASE_AUTH_DOMAIN="dealflow360-98.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="dealflow360-98"
VITE_FIREBASE_STORAGE_BUCKET="dealflow360-98.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="798769626042"
VITE_FIREBASE_APP_ID="1:798769626042:web:68ae5d905b06a313b2fb83"
VITE_FIREBASE_MEASUREMENT_ID="G-MG9L4B239R"
